.section {
  display: flex;
  flex-direction: column;
  gap: var(--large-space);
  width: 100%;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
}

.image {
  display: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
}

.hiddenLabel {
  border-width: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.formInput {
  flex: 1;
  height: 5rem;
  background: var(--input-color);
  border: none;
  padding: var(--small-space) 2rem;
  border-radius: var(--small-space);
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 2rem;
}

.formButton {
  height: 5rem;
  white-space: nowrap;
  background: var(--brand-color-1);
  border: none;
  color: white;
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 2rem;
  padding: 0 2rem;
  border-radius: var(--small-space);
}

@media (min-width: 750px) {
  .section {
    flex-direction: row;
    align-items: center;
  }

  .content {
    width: 60%;
  }

  .image {
    display: block;
  }

  .form {
    flex-direction: row;
  }
}
